@import "../../../sass/mixins";

.container_category_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  @include media(tablet) {
    justify-content: start;
    align-items: flex-start;
    padding: 1em 3em;
  }
  @include media(laptop) {
    justify-content: start;
    align-items: flex-start;
    padding: 1em 5em;
  }
  h2 {
    font-weight: 800;
    font-size: 1.8em;
    margin-bottom: 1em;
    font-family: "Montserrat";
  }
  .box_categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include media(tablet) {
      justify-content: start;
      align-items: flex-start;
    }
  }
}
