@import "../../../sass/mixins";

.box_category {
  height: 135px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.062);
  border-radius: 22px;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  @include media(laptop) {
    height: 165px;
    width: 165px;
  }
  h4 {
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    font-family: "Montserrat";
  }
}
