@import "../../../sass/mixins";
nav {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 10px 40px rgba(0, 0, 0, 0.164);
  margin-bottom: 2em;
  @include media(laptop) {
    flex-direction: row;
    justify-content: space-between;
  }
  img {
    height: 30px;
    cursor: pointer;
    @include media(laptop) {
      height: 20px;
    }
  }
}
